ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

:root {
    --cor-de-fundo:  #f4e6fd;
    --cor-de-link: #000000;
    --cor-de-texto: #113946;
    --cor-de-fundo2: linear-gradient(to left, #c5a3af,#8fdfdd, #f6f6aa);
    --cor-da-box: #ffffff;
    --cor-do-botao: #113946;
}

body {
    height: 100vh; /* define 100% da tela*/
    box-sizing: border-box; /*impede que o elemento filho saia do body */
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 0; /* tira a margem padrão do navegador */
    padding: 0;
    max-width: 1200px; /* Limita a largura máxima do conteúdo */
    overflow: scroll;
      
}

/*Sessão Menu*/

.menu {
    display: flex;
    align-items: center;
    height: 88px;
    padding-left: 10%; 
    border-bottom: 2px solid #ccc; /* Define a linha: 1px de espessura, cor sólida e cinza */
    margin-bottom: 5%;
}

.menu__presentation {
    display: flex;
    align-items: center;
    gap: 5%;
    white-space: nowrap;
}

.menu__list {
    display: flex;
    justify-content: space-around;
    gap: 7%;
    white-space: nowrap;
    padding-left: 20%;
}

.menu__list__item :hover{
    background-color:var(--cor-do-botao);
    color: var(--cor-da-box);
    border-radius: 5%;
    padding: 5% 10% 5% 10%;
}

.menu__list__contato{
    display: none; /* não mostra o contato duplicado */
}

/*Sessão Title*/

 .title {
     padding-left: 10%;
} 

.title__div {
    display: flex;
    align-items: center; /*alinha no centro da imagem*/
    text-align: left; /*define aonde o texto vai ficar*/  
}

.title__container {
    color: var(cor);
}

.title__container__img {
    padding-left: 6%;
    width: 50%;
    height: auto;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.title__bio {
    font-size: 42px;
    font-weight: bold;
    width: 751px;
    gap: 24px;
}


.title__network {
    padding: 0%; /* zera o padding esquerdo, alinhando como texto */
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.btn1 , .btn2 , .btn3 {
    background-image: var(--cor-de-fundo2);
    width: 150px;
    height: 50px;
    border-radius: 25px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.btn1:hover, .btn2:hover, .btn3:hover{
    background-color: var(--cor-do-botao);
    color: var(--cor-da-box);
    transition: 1s;
}

/*Sessão About*/

.about {
    height: 383px;
    background-image: var(--cor-de-fundo);
    color: var(--cor-de-texto);
    padding-left: 10%;
}

.about__title {
    font-size: 22px;
    font-weight: bold;
    padding-top: 6%;
}

.about__paragraph {
    font-size: 16px;
    text-align: left;
    width: 80%;
}

/*Sessão Skills*/

.skills__title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--cor-de-texto);
}

.skills__line {
    display: flex;
    justify-content:center;
    flex-direction: row;  /* ícone em cima, texto embaixo */
    align-items: center;     /* centraliza na horizontal */
    flex-wrap: wrap;
    row-gap: 30px;     /* espaço entre linhas */
    column-gap: 15px;  /* espaço entre colunas */
    padding-left: 7%;
    padding-right: 5%;
    text-align: center;
}

.skills__box {
    background-image: var(--cor-de-fundo);
    width: 150px;
    height: 100px;
    border-radius: 30px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    
}

/* Projects*/


.projects__section__title {
    font-size: 32px;
    font-weight: bold;
    color: var(--cor-de-texto);
    text-align: center;
}

.projects_geral {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* duas colunas */
  gap: 40px; /* espaçamento entre as caixinhas */
  max-width: 1200px; /* largura máxima do conteúdo */
  margin: 0 auto auto 7%; /* centraliza na página */
  padding: 20px; /* respiro nas laterais */
}

.projects__box {
   flex: 1 1 calc(50% - 40px); /* duas por linha */
   display: flex;
   flex-direction: row; /* força imagem e texto ficarem um abaixo do outro */
   align-items: center;
   margin-bottom: 40px;
}

.projects__info {
    font-size: 15px;
    font-weight: bold;
    color: var(--cor-de-texto);
}

.projects__img{
    border-radius: 5%;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    margin-right: 3%;
}

.projects__text {
    font-size: 14px;
    color: var(--cor-de-texto);
    text-wrap: wrap;
}

.projects__botao--repo {
    width: 100px;
    height: 45px;
    font-size: 13px;
    color: var(--cor-do-botao);
    border-style: solid;
    border-color: var(--cor-do-botao);
    border-radius: 25px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.projects__botao--demo {
    width: 100px;
    height: 45px;
    font-size: 13px;
    background-color: var(--cor-do-botao);
    color: var(--cor-da-box);
    border-style: solid;
    border-color: var(--cor-do-botao);
    border-radius: 25px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

/* Experiência Acadêmica*/

.academic {
    height: 581px;
    background-image: var(--cor-de-fundo);
    padding-top: 3%; 
}

.academic__title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: var(--cor-de-texto);
    justify-content: center;
}

.academic__courses {
    display: flex;
    justify-content: center;
    gap: 2%;
}

.academic__courses__box {
    width: 250px;
    height: 200px;
    background-color: var(--cor-de-fundo);
    border-radius: 25px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));

  /* centralizar conteúdo */
    display: flex;
    flex-direction: row;
    align-items: center;   /* centraliza horizontalmente */
    justify-content: center; /* centraliza verticalmente */
    gap: 15px; /* espaço entre img, título e subtítulo */
    padding: 15px; /* respiro interno */
    text-align: center;
}

.academic__courses__item__img{
   padding-left: 12%;
   max-width: 120px;  /* limita o tamanho da logo */
   height: auto;
}

.academic__courses__item__title {
    color: var(--cor-de-texto);
    font-size: 18px;
    font-weight: bold;
 
}

.academic__courses__item__subtitle {
    color: var(--cor-de-texto);
    font-size: 14px;
    font-weight: 200px;
    text-align: center;
}

/*footeer*/

.footer {
    height: 50px;
    background-color: var(--cor-de-fundo);
    display: flex;
    align-items: center; /*alinha o texto no centro verticalmente */
    text-align: center; /* alinha o texto 2024 no centro horizontalmente */
    justify-content: space-evenly; /*centraliza o texto todo */
    font-size: 16px;
    color: var(--cor-de-texto);
    line-height: 10%; /* define o tamanho das linhas */
}

/*Tablet*/
@media (max-width: 769px) {

    /* Menu */

    .menu{
        padding-left: 5%;
        gap: 12%
    }

    .menu__list{
        display: none;
    }

    .menu__list__contato{
        display: flex;  
        justify-content: end;
        font-weight: bold;
        font-size: 16px;
    }

    /*title*/

    .title{
        padding-left: 5%;
    }

    .title__bio{
        font-size: 22px;
        width: auto;

    }

    .title__img {
       width: 70%;
       height: 70%;
    }

    .title__network{
        width: 10%;
        gap: 60%;
        white-space: nowrap;
    }

    .btn1 , .btn2 , .btn3 {
        width: fit-content;
        height: fit-content;
    }

    /*ABOUT*/

    .about__title{
        padding-top: 15%;
        font-size: 22px;
    }

    .about__paragraph{
        font-size: 14px;
        width: 90%;
    }

    /*Skills*/

    .skills__title{
        font-size: 22px;
    }

    .skills__box{
        width: 32%;
        height: 32%;
        margin-bottom: 2%;
  
    }

    /*Experiências acadêmicas*/

    .academic__title{
        font-size: 22px;
    }

    .academic{
        height: 50%;
        padding-bottom: 10%;
    }

    .academic__courses__box{
        height:auto;
    }

    /*Expeirência profissional*/

    .experience__section__title{
        font-size: 22px;
    }

    .experiencie__box{
        flex-direction: column;
    }

    .experience__info{
        text-align: center;
    }

    .experience__img{
        width: 80%;
    }
    .experience__title{
        font-size: 18PX;
    }

    .experience__text{
        font-size: 16px;
      
    }

    .experiencia__botao--demo, .experiencia__botao--repo{
        width:fit-content;
        height: fit-content;
        border-radius: 5px;
    }
} 

/*Mobile*/
@media (max-width: 426px) {

    /*Menu*/

    .menu__title{
        display: none;
    }

    .menu{
        width: 100vh;
        gap: 6%
    }
    /*Titulo*/

    .title__div{
        flex-direction: column-reverse;
        text-align: center;
    }

    .title__container{
        text-align: center  ;
    }

    .title__network{
        padding-left: 15%;
    }


    /*Sessão sobre*/

    /*Skills*/

    .skills__line{
        flex-wrap: wrap;
    }

    /*Formação Acadêmica*/

    .academic__courses{
        flex-wrap: wrap;
        width: 60%;
        height: 50%;
        padding-left: 20%;
    }

    .academic__courses__box{
        margin-bottom: 5%;
    }

    /*Experiência Profissional*/


    /*Footer*/

}